{% extends 'base.html' %}
{% load static %}

{% block content %}




<form method="GET">
    {% csrf_token %}

    <div>
        <h2>Consulta de Obituário</h2>
    </div>
    <div class="btn-group">
        <a href="{% url 'index' %}" class="btn ">Página Inicial</a>
        <a href="https://app.powerbi.com/groups/me/reports/6b7e5fbd-6cfd-48aa-b3a4-567e0e986213/ReportSection?ctid=dee74457-d751-4011-a5c4-44560cf8b415&experience=power-bi" class="btn">
            <img src="static/admin/img/icon-powerbi.svg" alt="Power BI" width="30" height="30">
        </a>
    </div>
    <div class="btn-group">
        <a href="{% url 'obtuario' %}" class="btn ">Nova Pesquisa</a>
    </div>
    <div>
    </div>


    <div class="label-group">
        <label for="search">Nome</label>
        <input type="text" class="form-control" placeholder="" name="search" id="search" aria-label=""
            aria-describedby="campo de pesquisa" required>
    </div>
    <div class="label-group">
        <label for="data_falecimento">Data do Falecimento:</label>
        <input type="date" name="data_falecimento" id="data_falecimento">
    </div>
    <div class="label-group">
        <label for="data_nascimento">Data do Sepultamento:</label>
        <input type="date" name="data_nascimento" id="data_nascimento">
    </div>
    </div>
    <div class="link-group">
        <button type="submit" class="btn">Pesquisar</button>
    </div>
</form>


{% if results %}
<h3>Resultados da Pesquisa</h3>

<table class="table">
    <thead>
        <tr>
            <th>Número do Obituário</th>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>Data do Falecimento</th>
            <th>Sexo</th>
            <th>Idade</th>
            <th>Cor/Raça</th>
        </tr>
    </thead>
    <tbody>
        {% for memorial in results %}
        <tr>
            <td>{{ memorial.num_obtuario }}</td>
            <td>{{ memorial.falecido }}</td>
            <td>{{ memorial.data_nascimento }}</td>
            <td>{{ memorial.data_falecimento }}</td>
            <td>{{ memorial.sexo }}</td>
            <td>{{ memorial.idade }}</td>
            <td>{{ memorial.cor }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>Detalhes</th>
        </tr>
    </thead>
    <tbody>
        {% for memorial in results %}
        <tr>
            <td>{{ memorial.detalhes }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}


{% endblock %}